h1{
  color: #cbbfb2
  ;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: centered; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */

background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 15% auto; /* 15% from the top and centered */
padding: 20px;
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
overflow: visible;
}

/* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}
.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.btn {
outline: none;
border: none;
display: inline-block;
padding: 10px 15px;
background: var(--primary);
font-size: 2.2rem;
border-radius: 12px;
position: relative;
top: -3px;
box-shadow: 0 3px var(--grey);
color: #cf9d36;
}

.btn:hover {
box-shadow: 0 2px var(--grey);
top: -2px;
}

.btn:active {
box-shadow: 0 0px var(--grey);
top: 0;
}
#rcorners1 {
  border-radius: 25px;
  color: gray;
  box-shadow: 5px 5px 10px black;
}
footer{
  background-color: gray;
  border: 3px solid black ;

  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
  bottom: 0px;
  right: 0;
  left: 0;
  width: 100%;
  /* Height of the footer*/
  height: 100px;
  background: #474e5d;  
}

footer h1{
  margin: 0;
  display: inline;

  color: #243a56
  te;
  margin: 0;
}

footer h1 a{
  text-decoration: none;
}
footer h1 a:hover{
  color: yellow;
text-decoration: none;
}

footer img:hover{
  opacity: 50%;
}


footer a {
  text-decoration: none;
}

.footerFix {
  position: absolute;
  bottom: 0;
  width: 99%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-section {
  padding: 50px;
  text-align: center;
  color: #cbbfb2;
  padding: 50px;
  background-color: #243a56;
}

.about-section a {
  color: #cf9d36;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
  background-color: #243a56;
}

.header {
  background-color: #243a56;
}

.fillerText {
  color: #cbbfb2;

}


html {
  box-sizing: border-box;
  background-color: #243a56;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #243a56;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  flex: 1 2;
  width: auto;
  margin: 5px;
}

.button:hover {
  background-color: #555;
}

h1 img {
  margin: 5px;
  vertical-align: middle;
}


.searchHistory{

  display: flex;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }

  main {
    position: static;
  }


}
.floatRight{
  float:right;margin-left:20px

}
.floatLeft{
  float:left;margin-right:20px

}

.box {
  width: 80%;
  justify-self: center;
  margin: 10px 10%;
}

@media screen and (max-width: 400px) {
  .footerFix h1 {
    font-size: 65%;
  }
}